<div class="row">
  <div class="col" *ngFor="let curso of cursos">
    <div class="card mt-5" style="width: 18rem;" >
      <img [src]="curso.foto" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> {{curso.nome | uppercase}}</h5>
        <p class="card-text"> {{curso.decricao | uppercase}} </p>
        <p *ngIf="curso.promocao; else elseBlock"> <span class="badge badge-success">Promoçao</span> </p>
         <p><ng-template #elseBlock> <span class="badge badge-warning">Aproveite</span></ng-template></p>
        <p> <span class="badge badge-success"> {{curso.id}}</span> </p>
        <a href="#" class="btn btn-primary float-right"> {{curso.preco | currency: 'BRL'}} </a>

      </div>
    </div>
  </div>
</div>



